#career-objective-section {
  background-color: #033a46;
  background-image: linear-gradient(45deg, #030346 20%, #9d0e45 100%);
  grid-template-columns: auto;
  justify-content: center;
  box-shadow: 0 0 20px;
  align-items: center;
  padding: 3rem 6rem;
  display: grid;
  gap: 0.8rem;
}

.objective-divider {
  border-bottom: 2px solid #ffffff44;
  border-right: none;
  border-left: none;
  border-top: none;
}

.career-objective-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 4rem;
  cursor: default;
  color: #fff;
}

.career-objective-description {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  cursor: default;
  color: #fff;
}
